/.vs/Xrocter/FileContentIndex/095678dd-7752-4c2d-bfa5-944d148c6b3f.vsidx
/.vs/Xrocter/FileContentIndex/3105e4be-bac2-46f8-8b6c-6e520781f2f1.vsidx
/.vs/Xrocter/FileContentIndex/44827564-c4e8-44a0-8c3e-a1ac0803d367.vsidx
/.vs/Xrocter/FileContentIndex/8894cf78-c75c-4a44-8748-ef7b4a38d724.vsidx
/bin/Release/net6.0-windows/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/obj/Release/net6.0-windows/Xrocter.Views.PasswordRecoveryWizard.resources
/.vs/Xrocter/FileContentIndex/ef8d7b6e-7e5e-4d12-82d8-bc92c9d9cea1.vsidx
